// colors
$clr-neutral-100: #fff;
$clr-neutral-900: #000;

$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-accent: #99e2d0;

$clr-bg-light-100: #f6f6f6;
$clr-bg-light-200: #eaeaea;
$clr-bg-dark: #353535;

// font-family
$ff-roboto: 'Roboto', sans-serif;
$ff-shrik: 'Shrikhand', cursive;

//font-weights
$fw-400: 400;
$fw-700: 700;
