@use '../utils' as *;

.hero {
	background-color: $clr-bg-light-100;
	text-align: center;
	padding: 3rem 1rem;

	&__title {
		margin: 0 auto;
		max-width: 90%;
	}

	&__text {
		margin-block: 1rem 2rem;
		font-size: 18px;
		color: $clr-bg-dark;
	}
}

@media screen and (min-width: 992px) {
	.hero {
		grid-column: 1 / span 5;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-block: 1rem;
	}
}
